
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ff2a6ad5;
}

.status {
    max-width: 1000px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Style the submit button */
.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ff2a6b;
    border-radius: 5px;
    color: #ff2a6b;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-1:hover {
    background-color: #3498db;
    color: #ffffff;
}
.form-group {
    margin-bottom: 20px;
}

#imageInput {
    display: none;
}

#displayedImage {
    max-width: 100%;
    height: auto;
    display: none;
    margin-top: 10px;

}

/* Style the "Tải lên" button */
.btn.btn-primary {
    /* display: inline-block; */
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #ff2a6b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    float: right ;
}

.btn.btn-primary:hover {
    background-color: #ff004c;
}
